[*.cs]

# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = none

# CS0252: Possible unintended reference comparison; left hand side needs cast
dotnet_diagnostic.CS0252.severity = none
