<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tinderclonev120190930031733.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4bc0a85f-24fd-41d7-b7c9-e43e16211fd4/resourcegroups/MBOTinder/providers/Microsoft.Web/sites/TinderCloneV120190930031733</ResourceId>
    <UserName>$TinderCloneV120190930031733</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tinderclonev120190930031733.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>